<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myalbums">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".di.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAlbums">

        <activity
            android:name=".ui.splash_screen.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myalbums.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Launcher">

        </activity>
    </application>

</manifest>